services:
  app:
    image: dotnet_app:latest
    build:
      context: ..
      dockerfile: DeployDocker/Dockerfile
    depends_on:
      - db
    ports:
      - "5000:5000" # Redirige le port 5000 pour accéder à l'application
    environment:
      ConnectionStrings__DefaultConnection: "Server=db;Database=PizzaDatabase;User=sa;Password=P@ssw0rd123!;Encrypt=True;TrustServerCertificate=True;"
      ASPNETCORE_ENVIRONMENT: Production
    env_file:
      - secret.env
    networks:
      - app_network
    command: ["printenv"]

  db:
    image: sql:2019-latest
    environment:
      SA_PASSWORD: P@ssw0rd123!
      ACCEPT_EULA: Y
      MSSQL_LOGLEVEL: 4
    env_file:
      - secret.env
    # volumes:
    #   - db_data:/var/opt/mssql
    ports:
      - "1433:1433" # Optionnel, expose la base de données pour débogage ou accès externe
    networks:
      - app_network
    # command: ["/bin/bash", "-c", "printenv && sleep infinity"]

networks:
  app_network:
    driver: bridge