version: '3'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    
    volumes:
      -  ../..:/workspaces:cached
      # - ../..:/workspaces
    environment:
      ConnectionStrings__DefaultConnection : "Server=localhost,1433;Database=PizzaDatabase;User=sa;Password=P@ssw0rd;Encrypt=True;TrustServerCertificate=True;"
      ASPNETCORE_ENVIRONMENT: Development

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    # networks : dockertestcsharp_dev
    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:db

    # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
    # user: root

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    restart: unless-stopped
    environment:
      SA_PASSWORD: P@ssw0rd
      ACCEPT_EULA: Y
    ports:
      - "1433:1433"
    # networks : dockertestcsharp_dev
    # Add "forwardPorts": ["db:1433"] to **devcontainer.json** to forward MSSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    
    # redis:
    #   image: redis:alpine
    #   ports:
    #     - "6379:6379" # Optionnel : expose Redis pour débogage ou accès externe
# networks : 
#   dockertestcsharp_dev :